body {

background: url(https://4vector.com/i/free-vector-fashion-shopping-01-vector_000527_fashion_shopping_01_vector.jpg);
background-size: cover;
background-position:center;

}

p{
	font-size: 14;
}

#main-box{

width: 70%;
height: 85%;
background: #000;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding: 1% 1%;
color: #fff;
top: 50%;
left: 50%;
overflow-y: auto;

}

#photo-frame{

width:80%;
height: 60%;
border-color: 0;
align-content: center;

}

#photo {
height: 100%;
max-width: 80%;
}

.break {
	height: 2%;
}

#alert { 
height: 50px;	
color: red;
background-color: black;
border-color: red; 
border-style: dashed;
  }

#alert-text {
font-size-adjust: 100%;
position: absolute;
top: 50%;
left: 0;
right: 0;
margin: 0 auto;
transform: translateY(-50%);
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
}