<!-- <html>
<head>
<title>Welcome</title>
</head>
<body>
<div>
	<p> <%=message%> </p>

	<form action="/play" method="get">
		<button type="submit">Click here to play CostQuest</button>
	</form>
</div>
</body>
</html>
 -->

<html>
<head>
<title>Login Form Design</title>
<link rel="stylesheet" type="text/css" href="Bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css" href="Bootstrap/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="/style.css">
    
<body>
	<img src="Images/4f53a6134196a91b0c84a78c5fdeb36b.jpg" class="tag">
    <div class="box ">
            <div style="height: 3.25vw"></div>    
     <div class="vertical-align-middle" style=" width: 95%;display: table-cell; vertical-align: middle;">
       <div style="text-align: center">
         <h1><%=message%></h1>
				 <form action="/play" method="get">
					<input type="hidden" name="username" value="<%= username%>">
					<input type="hidden" name="score" value="<%= score%>">
					<input type="submit" class="col-4 btn btn-outline-danger" value="PLAY NOW!">
				 </form>
       </div>
     </div>
   </div>
     </div>

</body>
</head>
</html>
