<html>
<head>
<title>Welcome</title>
</head>
<body>
<div>
	<p> <%=message%> </p>
<!--	<a> href="/play"> Click here to play CostQuest </a>	-->
	<form action="/play" method="get">
		<button type="submit">Click here to play CostQuest</button>
	</form>
</div>
</body>
</html>

